# MiuiserPeruser Configuration
MONITOR_INTERVAL=15
PACKET_FILE="/data/data/com.termux/files/home/.syndicate_sewer/rocksteady.packet"
LOG_FILE="/data/data/com.termux/files/home/.syndicate_sewer/syndicate.log"
CPU_CORES=8
